@import "variable";
$max-width: calc(#{$max-width * 22.5});
$line-height: calc(#{$padding * 11.5});
$font-size: calc(#{$padding * 8});
$padding-bottom: calc(#{$padding * 29.5});
$padding-bottom-media: calc(#{$padding * 72});
$padding-top: calc(#{$padding * 25});
$padding-top-media: calc(#{$padding * 6.25});
$padding-left: calc(#{$padding * 8});
$padding-right: calc(#{$padding * 8});


.alinging_items {
  display: flex;
  flex-direction: row;
  max-width: $max-width;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  padding-left: 0;
  padding-right: 0;
  margin: $margin-auto;
}

@media(min-width: 1120px) {
  .alinging_items {
    margin: 0;
    padding-bottom: $padding-bottom-media;
    padding-top: $padding-top-media;
  }
}
