@import "variable";

:root  {
  $padding: 2px;
  $width: 16px;
  $height: var(--width);
}

body {
  background: #F4F6F9;
  font-family: lato;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
