@import "variable";

footer {
  background-color: $color-link;
  p {
    text-align: $text-aling-left;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 11px;
    margin: $margin;
  }
  .three_icons_list {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom: 34px;
    margin: $margin;
    li {
      margin-right: 10px;
    }
  }
  .four_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: $text-aling-left;
    padding-left: 18px;
    padding-bottom: 45px;
    margin: $margin;
    li {
      padding-right: 1rem;
      a {
        color: #FFFF;
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      p {
        padding: 51px 0;
      }
      .three_icons_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 51px 0;
        order: 3;
        li {
          justify-content: space-between;
        }
      }
      .four_lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 51px 0;
        order: 2;
        li {
          justify-content: space-between;
        }
      }
    }
  }
}
