@import "variable";
$font-size-media: calc(#{$padding * 6});
$padding-top: calc(#{$padding * 12});
$padding-top-media: calc(#{$padding * 30.5});
$padding-bottom: calc(#{$padding * 20});
$padding-left: calc(#{$padding * 70});
$padding-right: calc(#{$padding * 505});
$padding-bottom-media: calc(#{$padding * 15});
$max-height-normal: calc(#{$max-height * 4.75});
$max-height-media: calc(#{$max-height * 2});
$max-width-normal: calc(#{$max-width * 11.625});
$max-width-media: calc(#{$max-width * 5.75});

.logo {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  text-align: $text-aling-center;
  margin: $margin;
  img {
    max-width: $max-width-normal;
    height: $max-height-normal;
  }
}

@media(min-width: 1120px) {
  .logo {
    position: absolute;
    top: 20px;
    left: calc(50% - 558px);
    text-align: center;
    max-width: $max-width-media;
    max-height: $max-height-media;
    font-size: $font-size-media;
    margin: $margin-auto;
  }
}
