@import "variable";
$padding-top: calc(#{$padding * 15});
$padding-bottom: calc(#{$padding * 25});
$max-height: calc(#{$max-height * 4.75});
$max-width: calc(#{$max-width * 11.625});


.logo {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  text-align: $text-aling-center;
  margin: $margin;
  img {
    max-width: $max-width;
    height: $max-height;
  }
}


// @media(min-width: 1120px) {
//   .logo {
//     position: absolute;
//     max-width: calc(var(--width) * 5.75);
//     max-height: calc(var(--height) * 2);
//     padding-top: calc(var(--padding) * 30.5);
//     padding-left: calc(var(--padding) * 70);
//     padding-bottom: calc(var(--padding) * 40.5);
//     text-align: left;
//   }
// }

