.float_row {
  max-width: 140px;
  max-height: 44px;
  list-style: none;
  padding-left: 0;
}

.icon__google_play {
  margin-left: 32px;
}

span {
  display: none;
}

/* @media(min-width: 900px) {
  /* .float_row {
    width: calc(var(--width) * 9.753125);
    height: calc(var(--padding) * 2.9375);
  } */
  /* .icon__google_play {
    padding-left: calc(var(--padding) * 17.95);
  }
} */
