@import "variable";
$min-width: calc(#{$max-width * 20});
$min-width-media: calc(#{$max-width * 34.125});
$heigth: calc(#{$max-height * 7.4375});
$line-height: calc(#{$padding * 20});
$line-height-media: calc(#{$padding * 24});
$font-size: calc(#{$padding * 15});
$font-size-media: calc(#{$padding * 18});
$padding-bottom: calc(#{$padding * 16.5});
$padding-bottom-media: calc(#{$padding * 15});
$padding-left: calc(#{$padding * 10});
$padding-right: calc(#{$padding * 10});


.heading_page {
  font-weight: bold;
  letter-spacing: calc(var(--padding) * 0.24);
  margin: $margin;
  min-width: $min-width;
  text-align: $text-aling-center;
  height: $heigth;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
}

@media(min-width: 1120px) {
  .heading_page {
    font-size: $font-size-media;
    max-width: $min-width-media;
    text-align: left;
    max-height: calc(var(--height) * 6);
    padding-bottom: $padding-bottom-media;
    padding-top: 133px;
    line-height: $line-height-media;
    $primary-color-heading: #3333;
  }
  .container {
    max-width: 1114px;
    margin: $margin-auto;
  }

  main > header {
    background-image: url(../img/bg_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-X: calc(50vw - 11px);
    background-position-y: -10px;
  }
}

