@import "variable";
$min-width-normal: calc(#{$max-width * 20});
$max-height-media: calc(#{$max-width * 6});
$min-width-media: calc(#{$min-width * 34.125});
$heigth: calc(#{$max-height * 7.4375});
$line-height: calc(#{$padding * 20});
$line-height-media: calc(#{$padding * 24});
$font-size: calc(#{$padding * 15});
$font-size-media: calc(#{$padding * 18});
$padding-bottom: calc(#{$padding * 16.5});
$padding-bottom-media: calc(#{$padding * 15});
$padding-top-media: calc(#{$padding * 100});
$padding-left: calc(#{$padding * 10});
$padding-right: calc(#{$padding * 10});

header {
  background: #F4F6F9;
}

.heading_page {
  font-weight: bold;
  letter-spacing: calc(var(--padding) * 0.24);
  margin: $margin;
  min-width: $min-width-normal;
  text-align: $text-aling-center;
  height: $heigth;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
}
@media(min-width: 1120px) {
  .heading_page {
    font-size: $font-size-media;
    max-width: $min-width-media;
    text-align: $text-aling-left;
    max-height: $max-height-media;
    padding-bottom: $padding-bottom-media;
    padding-top: $padding-top-media;
    line-height: $line-height-media;
    $primary-color-heading: #3333;
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 1114px;
    margin: $margin-auto;
    overflow: visible;
  }
  main {
    overflow: visible;
  }
  main > header {

    background-image: url(./img/bg_header.png);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position-X: calc(50vw - 60px);
    background-position-y: -168px;
  }
}

