$primary-color-heading: #3333;
$primary-color-paragraph: #4F4F4F;
$text-aling-left: left;
$text-aling-center: center;
$margin: 0;
$margin-auto: auto;
$min-width:16px;
$min-height: 16px;
$max-width:16px;
$max-height: 16px;
$max-width-cotainer: 10000px;
$padding: 2px;
$color-sub-heading: #333333;
$color-paragraph: #4F4F4F;
$color-link: #00ADEE;
$color: #333;
