.alinging_items {
  display: flex;
  flex-direction: row;
  max-width: calc(360px);
  padding-top: calc(50px);
  padding-bottom: calc(59px);
  padding-left: 0;
  padding-right: 0;
  margin: auto; }

@media (min-width: 1120px) {
  .alinging_items {
    margin: 0;
    padding-bottom: calc(144px);
    padding-top: calc(12.5px); } }
