:root  {
  --padding: 2px;
  --width: 16px;
  --height: var(--width);
}

html {
  position: relative;
  margin: 0;
}

body {
  background: #F4F6F9;
  font-family: lato;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

@media(min-width: 900px) {
  body {
    background-image: url(../img/bg_header.png);
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: 131% 110%;
    width: calc(var(--width) * 62.0625);
    height: calc(var(--height) * 41.75);
  }
}
