:root  {
  --padding: 2px;
  --width: 2px;
}

html {
  position: relative;
}

body {
  background: #F4F6F9;
  font-family: lato;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}


/* @media(min-width: 900px) {
  body {
    background-image: url(../img/bg_header.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 131% 165%;
  }
} */
