@charset "UTF-8";
.second-section ul li {
  margin: 0; }
  .second-section ul li svg {
    fill: #00ADEE; }

.second-section ul li:hover svg {
  fill: red; }

.second-section p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%; }

.feature-heading {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding-left: calc(20px);
  padding-right: calc(20px);
  padding-bottom: calc(100px);
  padding-top: calc(42px);
  font-size: calc(28px);
  line-height: calc(37px);
  text-align: center;
  color: #333333; }

.video-icon {
  padding-bottom: 100px; }

.notification-icon {
  padding-bottom: 100px; }

.brand-icon {
  padding-bottom: 100px; }

.comment-icon {
  padding-bottom: 100px; }

.picture-icon {
  padding-bottom: 100px; }

.update-icon {
  padding-bottom: 58px; }

@media (min-width: 1120px) {
  .second-section {
    background-color: #00ADEE; }
    .second-section p {
      color: #FFFFFF;
      text-align: left;
      font-size: 16px;
      line-height: 23px; }
    .second-section ul li {
      text-align: initial; }
      .second-section ul li svg {
        fill: #FFFF; }
  .feature-heading {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 37px; }
  .second-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    column-gap: 50px; }
  .video-icon::before {
    content: "•"; }
  .notification-icon::before {
    content: "•"; }
  .brand-icon::before {
    content: "•"; }
  .comment-icon::before {
    content: "•"; }
  .picture-icon::before {
    content: "•"; }
  .update-icon::before {
    content: "•"; } }
