.logo {
  padding-top: calc(24px);
  padding-bottom: calc(40px);
  text-align: center;
  margin: 0; }
  .logo img {
    max-width: calc(186px);
    height: calc(76px); }

@media (min-width: 1120px) {
  .logo {
    position: absolute;
    top: 20px;
    left: calc(50% - 558px);
    text-align: center;
    max-width: calc(92px);
    max-height: calc(32px);
    font-size: calc(12px);
    margin: auto; } }
