.logo {
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
}

.logo img {
  width: 186px;
  height: 70px;
}

@media(min-width: 720px) {
  .logo {
    width: 92px;
    height: 32px;
    padding-top: 61px;
    padding-left: 158px;
    padding-bottom: 133px;
    margin: 0;
    text-align: left;
  }
}

