.logo {
  padding-top: calc(var(--padding) * 15);
  padding-bottom: calc(var(--padding) * 25);
  text-align: center;
  margin: 0;
}

.logo img {
  max-width: calc(var(--width) * 11.625);
  height: calc(var(--height) * 4.375);
}

@media(min-width: 1120px) {
  .logo {
    max-width: calc(var(--width) * 5.75);
    max-height: calc(var(--height) * 2);
    padding-top: calc(var(--padding) * 30.5);
    padding-left: calc(var(--padding) * 70);
    padding-bottom: calc(var(--padding) * 40.5);
    text-align: left;
  }
}

