.float_row {
  min-width: 145.69px;
  min-height: 44px;
  list-style: none;
}

.icon__google_play {
  padding-left: 28.61px;
}

@media(min-width: 900px) {
  .float_row {
    width: 156.05px;
    height: 47px;
  }
  .icon__google_play {
    padding-left: 35.9px;
  }
}
