:root  {
  --padding: 2px;
  --width: 2px;
}
body {
  background: #F4F6F9;
}
h1 {
  display: none;
}
.sport__logo {
  width: 186px;
  padding-top: 29px;
  padding-bottom: 29px;
}
.sport {
  margin: 0;
  text-align: center;
}
.information {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0;
  min-width: 320px;
  text-align: center;
  height: 119px;
  line-height: 40px;
  font-size: 30px;
  color: #4F4F4F;
  padding-bottom: 33px;
}
.description {
  height: 70px;
  width: 320px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
.icon {
  width: 319.99px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28.62px;
  margin: 0;
  padding-left: 12px;
  padding-top: 50px;
}
li {
  list-style: none;
}
.icon__google--image {
  width: 145.69px;
  height: 44px;
}
.icon__apple--image {
  width: 145.69px;
  height: 44px;
}

@media(min-width: 360px) {
  /* body {
    background-image: url(../img/bg_header.png);
  } */
  .sport__logo {
    width: 186px;
    padding-top: 61px;
    padding-left: 158px;
    padding-bottom: 29px;
  }
  .sport {
    margin: 0;
    text-align: left;
  }
  .information {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin: 0;
    width: 546px;
    text-align: left;
    padding-left: 163px;
    height: 119px;
    line-height: 40px;
    font-size: 30px;
    color: #4F4F4F;
    padding-bottom: 30px;
  }
}
