body {
  background: #F4F6F9;
  font-family: lato;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

@font-face {
  font-family: lato;
  src: local(lato), url(../fonts/AnyConv.com__Lato-Bold.woff), url(../fonts/AnyConv.com__Lato-Regular.woff), url(../fonts/AnyConv.com__Lato-Bold.woff2), url(../fonts/AnyConv.com__Lato-Regular.woff2); }

.logo {
  padding-top: calc(24px);
  padding-bottom: calc(40px);
  text-align: center;
  margin: 0; }
  .logo img {
    max-width: calc(186px);
    height: calc(76px); }

@media (min-width: 1120px) {
  .logo {
    text-align: center;
    max-width: calc(92px);
    padding-right: calc(980px);
    max-height: calc(32px);
    padding-bottom: calc(30px);
    margin: auto; } }

.heading_page {
  font-weight: bold;
  letter-spacing: calc(var(--padding) * 0.24);
  margin: 0;
  min-width: calc(320px);
  text-align: center;
  height: calc(119px);
  line-height: calc(40px);
  font-size: calc(30px);
  color: #333;
  padding-left: calc(20px);
  padding-right: calc(20px);
  padding-bottom: calc(33px); }

@media (min-width: 1120px) {
  .heading_page {
    font-size: calc(36px);
    max-width: calc(546px);
    text-align: left;
    max-height: calc(var(--height) * 6);
    padding-bottom: calc(30px);
    padding-top: 133px;
    line-height: calc(48px); }
  .container {
    max-width: 1114px;
    margin: auto; }
  main > header {
    background-image: url(../img/bg_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-X: calc(50vw - 11px);
    background-position-y: -10px; } }

.content_page {
  height: calc(70px);
  min-width: calc(320px);
  font-size: calc(16px);
  line-height: calc(23px);
  margin: auto;
  color: #4F4F4F; }

.float_row {
  max-width: 140px;
  max-height: 44px;
  list-style: none;
  padding-left: 0; }

.icon__google_play {
  margin-left: 32px; }

span {
  display: none; }

/* @media(min-width: 900px) {
  /* .float_row {
    width: calc(var(--width) * 9.753125);
    height: calc(var(--padding) * 2.9375);
  } */
/* .icon__google_play {
    padding-left: calc(var(--padding) * 17.95);
  }
} */
.alinging_items {
  display: flex;
  flex-direction: row;
  max-width: calc(360px);
  padding-top: calc(50px);
  padding-bottom: calc(59px);
  padding-left: calc(16px);
  padding-right: calc(16px);
  margin: auto; }

@media (min-width: 1120px) {
  .alinging_items {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    padding-bottom: 150px;
    padding-top: 12.5px; } }
