:root  {
  --padding: 2px;
  --width: 2px;
}
body {
  background: #F4F6F9;
  /* background-image: url(../img/bg_header.png); */
}
h1 {
  display: none;
}
.sport__logo {
  width: 186px;
  padding-top: 29px;
  padding-bottom: 29px;
}
.sport {
  margin: 0;
  text-align: center;
}
.icon {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
}
li {
  list-style: none;
}
.information {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0;
  min-width: 320px;
  text-align: center;
  height: 119px;
  line-height: 40px;
  font-size: 30px;
  color: #4F4F4F;
  padding-bottom: 33px;
}
.description {
  height: 70px;
  width: 320px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
.icon {
  margin: 0;
  padding-top: 50px;
}

.icon__apple--list {

}


/* @media(min-width: 360px) {
  body {
    background-image: url(../img/bg_header.png);
  }
} */
