.heading_page {
  font-weight: bold;
  letter-spacing: calc(var(--padding) * 0.24);
  margin: 0;
  min-width: calc(var(--width) * 20);
  text-align: center;
  height: calc(var(--height) * 7.4375);
  line-height: calc(var(--padding) * 20);
  font-size: calc(var(--padding) * 15);
  color: #4F4F4F;
  padding-bottom: calc(var(--padding) * 16.5);
}

/* @media(min-width: 900px) {
  .heading_page {
    font-size: calc(var(--padding) * 18);
    max-width: calc(var(--width) * 34.125);
    text-align: left;
    max-height: calc(var(--height) * 6);
    padding-bottom: calc(var(--padding) * 15);
    line-height: calc(var(--padding) * 24);
    color: #333333;
  }
  .container {
    max-width: 1114px;
    margin: auto;
  }
} */
