h1 {
  /* font-size: 186px; */
  padding-top: 29px;
  padding-bottom: 29px;
  margin: 0;
  text-align: center;
}

@media(min-width: 900px) {
  h1 {
    width: 92px;
    height: 32px;
    padding-top: 61px;
    padding-left: 158px;
    padding-bottom: 133px;
    margin: 0;
    text-align: left;
  }
}
