ul {
  width: 319.99px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28.62px;
  margin: 0;
  padding-left: 12px;
  padding-top: 50px;
}

li {
  list-style: none;
}

li a {
  width: 145.69px;
  height: 44px;
}

@media(min-width: 900px) {
  ul {
    width: 348px;
    padding-left: 3px;
    padding-bottom: 164px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35.9px;
  }

  li a {
    width: 145.69px;
    height: 44px;
  }
}
